body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to bottom right,hsl(33, 94%, 75%),white);
}
h1 {
	text-shadow: 4px 4px 6px dimgray;
   text-align: center;
}
.button {
	border: 2px solid black;
   border-radius: 1rem;
   padding: 1rem;
   text-decoration: none;
	font-size: medium;
	color: black;
	background-color: hsl(33, 94%, 75%);
}
img#JavaLogo {
	position: absolute;
	width: 20%;
	top: 1rem;
	right: 1rem;
}
.intro {
	width: 80%;
}
pre {
	font-size: large;
}

/* Style формата */
.question{
	margin-top: 2rem;
}
.answers {
	display: flex;
}
.answers label {
	border: 1px solid black;
	border-radius: 1rem;
	margin: 1rex;
	padding: 1rex;
}
.answers label:hover {
	text-decoration: underline;
	background-color: rgb(255, 214, 138);
}