body {
   background-color: rgb(200, 200, 200);
   margin: 0px;
}

#game_area {
   background-color: white;
   width: fit-content;
   text-align: center;
   margin: 5rem auto 0 auto;
   padding: 10px 15px;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

img {
   width: 8rem;
   height: 11rem;
   margin: 0.5rem;
}